/* --------------------MAIN CSS-------------------- */

p {
    font-family: 'Mr Eaves San OT', sans-serif;
    color: #000;
    line-height: 26px;
    font-size: 22px;
    font-weight: 300;ß
}

a{
    text-decoration: none;
    margin: 30px;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #485A76;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display:inline-block;
    
}

/* --------------------H CSS-------------------- */

h2 {
    font-family: 'MrsEaves', serif;
    color: #485A76;
    font-size: 26px;
}

h3{
    color: #fff;
    font-family: 'MrsEaves', serif;
    font-size: 20px;
    text-align: center;
}

h4{
    color: #fff;
    font-size: 16px;
    font-family: 'MrsEaves', serif;
    text-align: center;
}

/* --------------------HEADER CSS-------------------- */

.B a:link{
    font-family: 'MrsEaves', serif;
    font-size: 22px;
    color: #909C9D;
}

.A{
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.B {
   
    margin-bottom: 40px;
    text-align: center;
}

.current_page{
    background-color: #485A76;
    color: #FFF !important; 
    padding: 5px 10px;
    margin: 15px;
}

.current_page:hover{
    text-decoration: none;
}

.current_page a:visited{
    color: #FFF;
}



/* --------------------CONTENT CSS-------------------- */

#Designs_full {
    display: grid;
    grid-template-rows: 50px 100px 1030px 50px 70px 1030px 50px 100px 1050px;
    grid-template-areas:
        "Design_t1"
        "info1"
        "images1"
        "Design_t2"
        "info2"
        "images2"
        "Design_t3"
        "info3"
        "images3";
    margin: 50px 300px;
}

#design_t1 {
    grid-area: Design_t1;
}

#info1 {
    grid-area: info1;
}

#images1 {
    grid-area: images1;
}

#Design_t2 {
    grid-area: Design_t2;
}

/* --------------------FOOTER CSS-------------------- */

.footer{
    background-color: #485A76;
    padding: 15px;
    
}